.form-container{
    position: absolute;
    top: 8vh;    
    padding:10%;
    font-size:italic;
    background-color: white;
    color:#000;
    border: 1px solid #d0d0d0;    
    left: auto;
    right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;  
    width: 100%;
}

body{
    background: url(../asset/fondo.jpg) repeat;
}
.bto{

    width: 220px;
    height: 220px;
    
}



.btno{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #000;
    width: 100%;
    background: #cc346c; 
    border-radius: 10px;
    
}
.bt{    
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #000;
    width: 100%;
}

.hi{
    top: 8vh;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #000;
    left: auto;
    right: auto ;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 25px;
    margin-bottom: 20px;
    background: white;
}